.owl-prev{
    position: absolute;
    color: $color-blue;
    top: 33%;
    left: -4%;
    height: 45px;
    width: 45px;
    line-height: 0!important;
    text-align: center;
    border-radius: 50%!important;
    border: 1px solid $color-gray-1;
    background-color: $color-white-0!important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 100;
    // outline: none;

    span{
        @include styleText($color-blue, $fs-4, $fw-normal);
       
    }
    &:hover{
        outline: none;
    }
    &:focus{
        outline: none;
    }
}
.owl-next{
    position: absolute;
    top: 33%;
    right: -1%;
    color: $color-blue;
    height: 45px;
    width: 45px;
    line-height: 0!important;
    text-align: center;
    border-radius: 50%!important;
    border: 1px solid $color-gray-1;
    background-color: $color-white-0!important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 100;

    span{
        @include styleText($color-blue, $fs-4, $fw-normal);
       
    }
    &:hover{
        outline: none;
    }
    &:focus{
        outline: none;
    }
}